@charset "uft-8";

html {
    font-size: 16px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
   /* background: rgba(150, 37, 3, 0.548);     del*/
   background: url(../img/aladdin-abu.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

@media screen and (max-width: 480px) {
    body{
        background-position: 10% 20%;
        background-size: auto 700px;
    }
}
    


p{
    margin: 0;
    padding: 0;
}

/*ヘッダー　　　　　　　　　　　　*/
header{
    margin-top: 8px;
    color: #f8f8ff;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
   box-shadow: #1e1e1e;
}

/* 　　　　　　　　　　　　　　　　　　*/
/*ゲーム全本*/
.wrapper{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    padding-bottom: 23px;/*footer+padding height*/
    text-align: center;
}

/*　　　　　　　　　　　　　　　　　　　　*/
/*おみくじボタン*/
#btn1{
   position: relative;
   margin: 20px auto;
   width: 250px;
   height: 250px;
   line-height: 250px;
   border-radius: 50%;
   color: rgb(255, 0, 212);
   font-weight: bold;
   font-size: 40px;
   text-align: center;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
   background: linear-gradient(#ffff00 100%, #afeeee 0%);
   box-shadow: 0 10px 0 gray;
   justify-content: center;
   cursor: pointer;
   user-select: none;
   background:url(../img/1lamp-thumbnail\ .jpg);

}


#btn1:hover{
    background: linear-gradient(#da70d6 0%,pink 100%);
    background: url(../img/gost-1.jpg);
}

#btn1:active{
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0 5px 0 grey;
}
.btn {
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 24px;
    background: rgb(26, 212, 212);
    user-select: none;
    cursor: pointer;
}
.back {
    margin-top: 8px;
    text-align: left;
}

footer>p{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}

.shutter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #ffd700;
    animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen{
    0%{
        width: 0;
        height: 0.05em;
    }
    50%{
        width: 100%;
        height: 0.05em;
    }
    90%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}